@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  margin: 0;
  background-color: #333;
  color: #222;
}

.container {
  background-color: #fafafa;
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

.container.show-nav {
  transform: rotate(-20deg);
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: #ff7979;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.circle button {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.content {
  max-width: 1000px;
  margin: 50px auto;
}

article h1 {
  margin: 0;
}

article h2 {
  font-size: 0.7rem;
  margin-top: 0;
  font-weight: lighter;
}

article h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

#cat img {
  max-width: 100%;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: white;
  margin-left: 0rem;
}

nav img {
  margin-right: 1rem;
}

nav li {
  margin: 1.3rem 1.5rem;
  transform: translate(-150%);
  transition: transform 0.5s ease-in;
}

nav li:first-of-type {
  margin: 1.3rem 0;
  transform: translate(-100%);
}

nav li:last-of-type {
  margin: 1.3rem 2.7rem;
  transform: translate(-200%);
}
