@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* height: 100vh; */
  /* overflow: hidden; */
  margin: 0;
  /* background-color: #2e2d2e;
  z-index: -1; */
}

aside {
  /* display: flex;
  justify-content: flex-start; */
  width: 5rem;
  height: 5rem;
  padding: 1.4rem 1rem 1rem 1rem;
  border: 1px solid #f97b6f;
  background-color: #f97b6f;

  border-radius: 0 0 100% 0;
}

#close {
  display: none;
}
a {
  /* display: flex;
  justify-items: start; */
}
#square {
  /* display: flex;
  justify-items: start; */
  color: white;
}

article {
  width: 70%;
  margin: auto;
  text-align: justify;
  /* font-family: "Roboto"; */
}

article h1 {
  margin: 0;
}

article h2 {
  font-size: 0.7rem;
  margin-top: 0;
  font-weight: lighter;
}

article h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

#cat {
  width: 100%;
  /* max-width: 40rem; */
  /* height: 100%; */
  /* vertical-align: middle; */
}

#cat img {
  width: 100%;
}

.icons {
  width: 1.3rem;
  height: 1.3rem;
  vertical-align: middle;
}

main {
}

/* section {
  transform: rotate(-20deg) translate(100px, -100px);
} */
